@import '_Shared';
@import '_Vars';

li.critterEntry {
    background-color: #F1E7CC;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.5);
    margin: 4rem auto 2rem;
    padding: 1rem 2rem 2rem;
    position: relative;
    width: 280px;

    h2 {
        display: inline-block;
        font-size: 1.4rem;
        position: relative;
        text-align: center;

        span {
        border-radius: 2px;
        background-color: #F1E05E;
        color: $darkest;
        padding: 0.5rem 1rem;
        position: relative;
        z-index: 1;

        &::before, &::after {
            border-color: transparent;
            border-style: solid;
            border-width: 1.5rem;
            content: ' ';
            display: block;
            height: 0;
            position: absolute;
            bottom: -1rem;
            width: 0;
            z-index: -1;
        }

        &::before {
            border-right-color: #CDB687;
            left: -1.5rem;
        }
        &::after {
            border-left-color: #CDB687;
            right: -1.5rem;
        }
        }

        &::before, &::after {
        border-color: #D5C27E;
        border-style: solid;
        border-width: 1.5rem 2rem;
        content: ' ';
        display: block;
        height: 0;
        position: absolute;
        bottom: -1.5rem;
        width: 0;
        z-index: 0;
        }

        &::before {
        border-left-color: transparent;
        left: -2.3rem;
        }
        &::after {
        border-right-color: transparent;
        right: -2.3rem;
        }
    }

    .critterThumb {
        background-color: #F2EED5;
        border-radius: 150px;
        flex: 0 0 auto;
        height: 128px;
        margin: 2rem auto 1rem;
        position: relative;
        width: 128px;
        
        img {
            display: block;
            height: auto;
            left: 50%;
            position: relative;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
        }
    }

    .critterInfo {
        @include displayList;
        flex: 1 1 auto;
    }

    .timesList {
        @include displayList;
        border-left: 1px solid $darkest;
        border-right: 1px solid $darkest;
        box-sizing: content-box;
        display: flex;
        flex-wrap: nowrap;
        font-size: 0.5rem;
        margin: 0 auto;
        padding: 0 0 2rem;

        li {
            border-right: 1px solid $darkest;
            box-sizing: content-box;
            flex: 1 0 auto;
            line-height: 1rem;
            position: relative;
            text-align: left;

            &:last-child {
                border-right: none;
            }

            &.active {
                background-color: $highlight;
            }
        }

        .hourLabel {
            padding-left: 0.1rem;
            position: relative;
            top: 1rem;
        }

        .timeMarker {
        border-right: 1px solid #cc0000;
        content: ' ';
        height: 2rem;
        position: absolute;
        }
    }

    .critterCalendar {
        @include displayList;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
        background-color: #D5C27E; 
        border-radius: 4px;
        flex-basis: 32%;
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 2%;
        opacity: 0.25;

        &.active {
            opacity: 1;
        }

        &.current {
            background-color: $highlight;
        }
        }

        .monthName--rest {
        display: none;
        }
    }

    .actionButtons {
        @include displayList;
    }
}