@import '_Shared';
@import '_Vars';
@import '_Reset';

@font-face {
  font-family: 'pusabregular';
  src: url('/fonts/PUSAB___-webfont.eot');
  src: url('/fonts/PUSAB___-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/PUSAB___-webfont.woff2') format('woff2'),
       url('/fonts/PUSAB___-webfont.woff') format('woff'),
       url('/fonts/PUSAB___-webfont.ttf') format('truetype'),
       url('/fonts/PUSAB___-webfont.svg#pusabregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #00905A;
  background-image: url('/img/bg/tile_bg.png');
  background-size: 128px;
  font-size: 1.6rem;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: $darkest;
  font-family: 'pusabregular';
  font-weight: normal;
}

#root, .App {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.mainApp {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.controls {
  background-color: #fff;
  flex: 1 0 auto;
}

.critterPaneHolder {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.critterPane {
  flex: 1 1 auto;
  padding: 1rem;
}

.hiddenList {
  display: none;
}

.viewableList {
  display: block;
}

.critterSection {
  text-align: center;
}

.critterList {
  @include displayList;
  margin: 0 auto;

  @import '_CritterEntry';
}

.viewSwitch {
  background-color: #fff;
  flex: 1 0 auto;
  padding: 1rem;
  
  .viewSwitchList {
    @include displayList;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    li {
      display: flex;
      flex-direction: column;
  
      &.activeButton {
        cursor: default;
      }
      
      &.switchButton {
          cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 840px) {
  .hiddenList {
      display: block;
  }

  .viewSwitch {
      display: none;
  }

  .critterPane {
    flex-basis: 280px;
  }

  .critterPaneHolder {
    flex-direction: row;
    justify-content: space-between;
  }
}