/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'pusabregular';
  src: url("/fonts/PUSAB___-webfont.eot");
  src: url("/fonts/PUSAB___-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/PUSAB___-webfont.woff2") format("woff2"), url("/fonts/PUSAB___-webfont.woff") format("woff"), url("/fonts/PUSAB___-webfont.ttf") format("truetype"), url("/fonts/PUSAB___-webfont.svg#pusabregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #00905A;
  background-image: url("/img/bg/tile_bg.png");
  background-size: 128px;
  font-size: 1.6rem;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: #685A53;
  font-family: 'pusabregular';
  font-weight: normal;
}

#root, .App {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.mainApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
}

.controls {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.critterPaneHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.critterPane {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem;
}

.critterPane h1 {
  background-color: #685A53;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 0 #2f2926;
          box-shadow: 0 5px 0 #2f2926;
  color: #fff;
  font-size: 1.8rem;
  margin: 2rem auto;
  padding: 1rem;
  text-shadow: 0 -2px 0 #2f2926;
  width: 320px;
}

.hiddenList {
  display: none;
}

.viewableList {
  display: block;
}

.critterSection {
  text-align: center;
}

.critterList {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 auto 6rem;
}

.critterList > li {
  margin: 0;
  padding: 0;
}

li.critterEntry {
  background-color: #F1E7CC;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
  margin: 4rem auto 2rem;
  padding: 1rem 2rem 2rem;
  position: relative;
  width: 280px;
}

li.critterEntry h2 {
  display: inline-block;
  font-size: 1.4rem;
  position: relative;
  text-align: center;
}

li.critterEntry h2 span {
  border-radius: 2px;
  background-color: #F1E05E;
  color: #685A53;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 1;
}

li.critterEntry h2 span::before, li.critterEntry h2 span::after {
  border-color: transparent;
  border-style: solid;
  border-width: 1.5rem;
  content: ' ';
  display: block;
  height: 0;
  position: absolute;
  bottom: -1rem;
  width: 0;
  z-index: -1;
}

li.critterEntry h2 span::before {
  border-right-color: #CDB687;
  left: -1.5rem;
}

li.critterEntry h2 span::after {
  border-left-color: #CDB687;
  right: -1.5rem;
}

li.critterEntry h2::before, li.critterEntry h2::after {
  border-color: #D5C27E;
  border-style: solid;
  border-width: 1.5rem 2rem;
  content: ' ';
  display: block;
  height: 0;
  position: absolute;
  bottom: -1.5rem;
  width: 0;
  z-index: 0;
}

li.critterEntry h2::before {
  border-left-color: transparent;
  left: -2.3rem;
}

li.critterEntry h2::after {
  border-right-color: transparent;
  right: -2.3rem;
}

li.critterEntry .critterThumb {
  background-color: #F2EED5;
  border-radius: 150px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 128px;
  margin: 2rem auto 1rem;
  position: relative;
  width: 128px;
}

li.critterEntry .critterThumb img {
  display: block;
  height: auto;
  left: 50%;
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

li.critterEntry .critterInfo {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

li.critterEntry .critterInfo > li {
  margin: 0;
  padding: 0;
}

li.critterEntry .timesList {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid #685A53;
  border-right: 1px solid #685A53;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 0.5rem;
  margin: 0 auto;
  padding: 0 0 2rem;
}

li.critterEntry .timesList > li {
  margin: 0;
  padding: 0;
}

li.critterEntry .timesList li {
  border-right: 1px solid #685A53;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  line-height: 1rem;
  position: relative;
  text-align: left;
}

li.critterEntry .timesList li:last-child {
  border-right: none;
}

li.critterEntry .timesList li.active {
  background-color: #F1E05E;
}

li.critterEntry .timesList .hourLabel {
  padding-left: 0.1rem;
  position: relative;
  top: 1rem;
}

li.critterEntry .timesList .timeMarker {
  border-right: 1px solid #cc0000;
  content: ' ';
  height: 2rem;
  position: absolute;
}

li.critterEntry .critterCalendar {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li.critterEntry .critterCalendar > li {
  margin: 0;
  padding: 0;
}

li.critterEntry .critterCalendar li {
  background-color: #D5C27E;
  border-radius: 4px;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 2%;
  opacity: 0.25;
}

li.critterEntry .critterCalendar li.active {
  opacity: 1;
}

li.critterEntry .critterCalendar li.current {
  background-color: #F1E05E;
}

li.critterEntry .critterCalendar .monthName--rest {
  display: none;
}

li.critterEntry .actionButtons {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.critterEntry .actionButtons > li {
  margin: 0;
  padding: 0;
}

.viewSwitch {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 1rem;
}

.viewSwitch .viewSwitchList {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.viewSwitch .viewSwitchList > li {
  margin: 0;
  padding: 0;
}

.viewSwitch .viewSwitchList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.viewSwitch .viewSwitchList li.activeButton {
  cursor: default;
}

.viewSwitch .viewSwitchList li.switchButton {
  cursor: pointer;
}

@media screen and (min-width: 840px) {
  .hiddenList {
    display: block;
  }
  .viewSwitch {
    display: none;
  }
  .critterPane {
    -ms-flex-preferred-size: 280px;
        flex-basis: 280px;
    width: 33.333333%;
  }
  .critterPaneHolder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=App.css.map */